build/
wheelhouse/
tmp/
GiNaC_static/
.eggs/
pyoomph.egg-info/
_pyoomph-stubs/_pyoomph.pyi
pytest/
__pycache__
*.pyc
*.geo_unrolled
*.geo
*.msh
*.vtu
*.vtk
*.pvd
*.txt
*.c
*.so
*.o
*.a
*.d
*.dll
*.dylib
*.def
*.pl
*.S
*.expect
_pyoomph_run_.txt
*.png
*.pdf
*.jpg
*.jpeg
*.eps
*.dump
*.state
*.mk
*.ini
*.aux
*.bbl
*.blg
*.log
*.toc
*.out
*.zip
*.mp4
*.mpg
*.csv
*.rar
*.exe
*.avi
*.mat
*.dat
*.pvsm
*.curved
*.pptx
*.pptx#
*.synctex.gz
*.prof
*.xml
*.plt
*.pos
*.m
*.xlsx
.DS_Store
.idea/
*.whl
*.code-workspace
*.json
*.layout
*.cbp
.vscode/
src/lib/
src/thirdparty/tinycc/config-extra.mak
src/thirdparty/tinycc/config.h
src/thirdparty/tinycc/config.mak
src/thirdparty/tinycc/config.texi
src/thirdparty/tinycc/tcc
src/thirdparty/tinycc/tcc-doc.html
src/thirdparty/tinycc/tcc-doc.info
src/thirdparty/tinycc/tcc.1
src/thirdparty/tinycc/tccdefs_.h
typings/_pyoomph-stubs/__init__.pyi
pyoomph/NO_MPI
citools/pyoomph_tutorial_scripts/
